# Obtén tu connection string desde el dashboard de Neon (https://neon.tech)
DATABASE_URL="postgresql://usuario:password@host-pooler.region.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# Descomenta si usas Prisma <5.10
# DATABASE_URL_UNPOOLED="postgresql://usuario:password@host.region.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
